
body {
   font-family: monospace;
}
.container{
 background-color:#e0ffff;  
 width: 100%;
 margin-top: 20px;

 height: 100px;
}

.header-logo{
display: inline-block;
font-size: 25px;
}

.header-list{
 display: inline-block;
 float: right;
 margin-right: 50px;
 font-size: 15px;
}



.header-list ul {
   list-style: none;
   float: right;
 }




